:root.dark-mode {
  --user-font-scale: 1rem - 16px;
  --max-width: calc(100%);
  --fullwidth-max-width: calc(100% - 1rem);
  --color-background-primary: var(--black);
  --color-background-secondary: var(--blue-900);
  --color-background-error: var(--red-100);
  --color-background-contrast: var(--orange-100);
  --color-background-warning: var(--yellow-100);
  --color-background-success: var(--green-100);
  --color-background-info: var(--blue-100);
  --color-background-disabled: var(--gray-200);
}
